/* @media only screen and (min-width: 600px) {
  .button-01 {
    margin-left: 95px;
  }
  .text-change {
    text-align: center;
    margin-left: 20px;
    font-size: 50px;
  }
  .text-change-2 {
    margin-left: -110px;
  }
  .price-01{
    margin-right: 40px;
  }
  .banner-text{
    margin-top: 50px;
    margin-bottom: 50px;
    
    margin-left: -35px;
  }
  .banner-button{
    margin-right: -90px;
  }
  
 
  .best-seller{
    margin-left: 120px;
  }
  .sub-zero{
    margin-right: -500px;
    
  }
  .sts-text{
    margin-bottom: 250px;
  }
  
}  */



@media only screen and (max-width: 600px) {
  .button-01 {
    /* text-align: center; */
    margin-left: 95px;
  }
  .text-change {
    /* text-align: center; */
    margin-left: 20px;
    font-size: 50px;
  }
  .text-change-2 {
    /* text-align: center; */
    margin-left: -150px;
  }
  .price-01{
    margin-right: 30px;
  }
  .banner-text{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    margin-left: 20px;
  }
  .banner-button{
    margin-left: 80px;
  }
  
  .best-seller{
    margin-left: 120px;
  }
  .sub-zero{
    
    margin-left: -20px;
  }
  .sub-one{
    
    margin-left: 35px;
  }
  .sts-text{
    margin-bottom: 250px;
  }
  .cato{
    margin-left: -33px;
    font-size: 15px;
    font-weight: 750;
    font-family: 'poppins', sans-serif;
   }
}



@media only screen and (min-width: 1200px) {
  .sub-zero{
    padding-left: 10px;
    margin-left: -20px;
  }
  .banner-button{
    margin-left: 100px;
  }
  .banner-text{
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 95px;
  }
}


