@media only screen and (max-width: 600px) {
  .button-01 {
    /* text-align: center; */
    margin-left: 95px;
  }
  .text-change {
    text-align: center;
    margin-left: 20px;
    font-size: 50px;
  }
  .text-change-2 {
    /* text-align: center; */
    margin-left: -110px;
  }
  .price-01{
    margin-right: 40px;
  }
  .banner-text{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  .banner-button{
    margin-left: 80px;
  }
  .border {
    position: relative;
    z-index: 1;
  }
 
  .best-seller{
    margin-left: 120px;
  }
  .sub-zero{
    margin-top: 10px;
  }
  .sts-text{
    margin-bottom: 250px;
  }
  
} 
@media only screen and (min-width: 768px) {
  
  .sub-zero{
      padding-right: -50px;
      padding-left: -50px;
  }
  /* .best-seller{
    margin-left: 120px;
  } */
  /* .sub-zero{
    margin-top: 10px;
  } */
  /* .sts-text{
    margin-bottom: 250px;
  } */
} 



/* @media (max-width: 768px) {
  
  .logo-boat {
    width: 100px;
    height: auto;
  }
}

@media (max-width: 576px) {
  
  .head-banner .display-1,
  .display-6 {
    text-align: center;
  }

 
  .banner-button .btn {
    width: 150px; 
  }

  
  .card {
    width: 100%;
  }
}

@media (max-width: 480px) {
  
  .img-fluid {
    width: 100%; 
    height: auto;
  }

 
  
}  */


