body {
  margin: 0;
  padding: 0;
  background-color: rgb(252, 252, 252);
  box-sizing: border-box;
  font-family: sans-serif;
}
.head-point {
  text-align: center;
  margin-top: 10px;
}
.logo-boat {
  width: 150px;
  height: 80px;
}
.banner-color {
  background-color: #e2ecf1;
}
.seller-1 {
  font-weight: bold;
}
.seller-2 {
  border-bottom: 3px solid #e40606;
}
.price-2 {
  font-weight: bold;
  opacity: 0.3;
  text-decoration: line-through;
}
.discount-1 {
  color: rgb(131, 227, 195);
  font-size: 18px;
  font-weight: bold;
}
.text-banner-3 {
  background: linear-gradient(to bottom, #ffffff 60%, #ffffcc 100%);
}
/* .button-01 {
  align-items: end;
  margin-right: 120px;
} */
.button-01 {
  text-align: end;
  align-items: end;
  justify-content: end;
  margin-right: 120px;
}
.price-01 {
  margin-right: 95px;
}
.watch {
  margin-top: 200px;
}
.button-1 {
  text-align: center;
}
.border {
  position: relative;
  top: 30px;
  z-index: 1;
}
/* .text-4 {
  margin-top: 150px;
  margin-left: -50px;
  font-size: 100px;
  font-weight: 100px;
}
.text-5 {
  font-size: 30px;
  margin-top: -40px;
  margin-left: 190px;
}
.button-4 {
  margin-left: 280px;
  border-radius: 15px;
} */
