body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* .card {
  margin-left: 50px; 
  margin-right: 50px;
} */
/* .sub-zero{
  margin-left: 30px;
  margin-right: 30px;
} */
.logo-boat {
  width: 150px;
  height: 80px;
}
.banner-color {
  background-color: #e2ecf1;
}
.seller-1 {
  font-weight: bold;
}
.seller-2 {
  border-bottom: 3px solid #e40606;
}
.price-2 {
  font-weight: bold;
  opacity: 0.3;
  text-decoration: line-through;
}
.discount-1 {
  color: rgb(131, 227, 195);
  font-size: 18px;
  font-weight: bold;
}
.text-banner-3 {
  background: linear-gradient(to bottom, #ffffff 60%, #ffffcc 100%);
}
.button-01 {
  text-align: end;
  align-items: end;
  justify-content: end;
  margin-right: 120px;
}
.banner-button {
  margin-right: 635px;
}
.watch {
  margin-top: 200px;
}

.button-1 {
  text-align: center;
}
.border {
  position: relative;
  top: 30px;
  z-index: 1;
}


